.advantages {
  padding: 0 20px;
  margin-bottom: 53px;

  @media (min-width: $width-tablet) {
    padding: 0 30px 47px;
    margin-bottom: 45px;
    border: 1px solid #e6e6e6;
  }

  @media (min-width: $width-desktop) {
    padding: 0 110px;
    margin-bottom: 69px;
    border: none;
  }
}

.advantages__title {
  @include index-second-title;
  margin-bottom: 42px;

  @media (min-width: $width-tablet) {
    margin-bottom: 32px;
  }
}

.advantages__description {
  @include index-main-text;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 26px;
  counter-reset: num;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 37px 153px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  width: 280px;
  min-height: 60px;

  @media (min-width: $width-tablet) {
    flex-wrap: wrap;
    width: 247px;
    min-height: 280px;
  }

  &::before {
    content: "";
    display: block;
    background-color: $main-page-color;
    min-width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  &--icon_fourth {
    @media (min-width:$width-tablet) {
      width: 242px;
    }
  }
}

@media (min-width: $width-tablet) {
  .advantages__list .advantages__item {
    position: relative;
  }

  .advantages__list .advantages__item::after {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    color: $dark-page-color;
    right: 26px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    z-index: -6;
  }
}
