.advantages {
  padding: 0 20px;
  margin-bottom: 53px;

  @media (min-width: $width-tablet) {
    padding: 0 30px 47px;
    margin-bottom: 45px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $width-desktop) {
    padding: 0 110px;
    margin-bottom: 205px;
    border: none;
  }
}

.advantages__title {
  @include index-second-title;
  margin: 0;
  margin-bottom: 42px;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    margin-bottom: 32px;
  }
}

.advantages__description {
  @include index-main-text;
  margin: 3px 0 3px 80px;

  @media (min-width: $width-tablet) {
    margin: 0;
    margin-top: 150px;
  }
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 26px;
  counter-reset: num;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 708px;
    gap: 37px 153px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    gap: 77px;
    flex-wrap: nowrap;
    min-width: 1220px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  min-width: 280px;
  min-height: 60px;
  // &--icon_first {
  // 		background-image:  url("../../../img/icons/sprite.svg#leaf");
  // 	}

  @media (min-width: $width-tablet) {
    flex-wrap: wrap;
    min-width: 0;
    max-width: 249px;
    min-height: 280px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $main-page-color;
    min-width: 60px;
    height: 60px;
    z-index: -5;

    @media (min-width: $width-tablet) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $width-tablet) {
  .advantages__list .advantages__item {
    position: relative;
  }

  .advantages__list .advantages__item::after {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    color: $dark-page-color;
    right: 26px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    z-index: -6;
  }
}
