// text style start
.advantages {
  &__title {
    color: $title-color;
    font-family: $oswald;
    font-size: 36px;
    line-height: 40px;
  }

  &__description {
    color: $text-color;
    font-family: $lato;
    font-size: 14px;
    line-height: 18px;
  }
}

// text style end

.advantages {
  &__item::before {
    content: "";
    display: block;
    background-color: #68b738;
    width: 60px;
    height: 60px;
  }

  &__item--icon_leaf {
    background-image: url("../../img/icons/leaf.svg");
    background-repeat: no-repeat;
  }

  &__list {
    list-style-position: inside;
  }
}

