.example__wrapper,
.example__title,
.example__image {
  padding: 0 20px;
  background-color: #eaeaea;
  z-index: -6;
}

.example {
  @media (min-width: $width-desktop) {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  @include index-second-title;
  padding-top: 25px;
  padding-bottom: 40px;
  margin: 0;

  @media (min-width: $width-tablet) {
    margin-bottom: 60px;
    padding: 0 30px;
    background-color: $light-page-color;
  }

  @media (min-width: $width-desktop) {
    padding: 0 110px;
    position: absolute;
    top: -150px;
  }
}

.example__description {
  @include index-main-text;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-bottom: 55px;
    @include index-main-text;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 69px;
  }
}

.example__wrapper {
  padding-bottom: 20px;

  @media (min-width: $width-tablet) {
    padding: 0 30px;
    margin-bottom: 100px;
    background-color: $light-page-color;
  }

  @media (min-width: $width-desktop) {
    padding: 70px 0 75px 110px;
    margin-bottom: 0;
    background-color: #f2f2f2;
  }
}

.data-wrapper {
  text-align: center;

  @media (min-width: $width-tablet) {
    display: flex;
  }
}

.data {
  margin: 0;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  border: $border;
  border-radius: 5%;

  &:first-of-type {
    margin-right: 32px;

    @media (min-width: $width-tablet) {
      margin-right: 43px;
    }
  }
}

.data__value {
  color: $title-color;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;

  @media (min-width: $width-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.data__info {
  color: $text-color;
  font-family: $main-font;
  font-size: 12px;
  line-height: 100%;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 14px;
  }
}

.price {
  margin: 0;
  text-align: center;
  color: $title-color;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 30px;
  }

  @media (min-width: $width-desktop) {
    right: 110px;
  }
}

.price__value {
  display: inline;
  margin: 0;

  @media (min-width: $width-tablet) {
    display: block;
  }
}

.price__info {
  display: inline;

  @media (min-width: $width-tablet) {
    display: block;
  }
}

.example__image {
  @media (min-width: $width-tablet) {
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    padding: 70px 110px 85px 0;
    background-color: #f2f2f2;
  }
}

.example__image-wrapper {
  @media (min-width: $width-desktop) {
    position: absolute;
    top: -120px;
  }
}
