.example {
  position: relative;
}

.example::before {
  content: "";
  position: absolute;
  background-color: #eaeaea;
  min-width: 100%;
  padding: 20px;
  height: 659px;
  left: 0;
  z-index: -6;
  @media (min-width:$width-tablet) {
    height: 462px;
  }
  @media (min-width:$width-desktop) {

  }
}

.example__title {
    @include index-second-title;
    padding-top: 25px;
    bottom: 0;
  }

  .example__description {
    @include index-main-text;
  }

.data__value {
    color: $title-color;
    font-family: $secondary-font;
    font-size: 24px;
    line-height: 24px;
  }

  .data__info {
    color: $text-color;
    font-family: $main-font;
    font-size: 12px;
    line-height: 12px;
  }

.price {
  color: $title-color;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
