.intro {
  display: flex;
  flex-direction: column;
}

.intro__wrapper {
  text-align: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0 74%, transparent 74% 100%),
  url("../../../img/mobile-img/index-intro-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 302px;

  @media (min-width:$width-tablet) {
    text-align: left;
    background-image: none;
    display: inline-block;
  }
}

.intro__title {
  @include first-title;
  margin: 0 auto;
  padding: 27px 20px 25px;

  @media (min-width:$width-tablet) {
    padding: 0 30px 40px;
  }

  @media (min-width:$width-desktop) {
    padding: 0 110px;
  }
}

.intro__slogan {
  margin: 0 auto;
  padding: 0 20px 25px;
  color: $light-page-color;
  font-family: $secondary-font;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 100%;

  @media (min-width:$width-tablet) {
    color: $title-color;
    padding: 0 30px 50px;
    font-size: 20px;
  }

  @media (min-width:$width-desktop) {
    padding: 0 110px;
  }
}

.intro__link {
  display: block;
  margin: 3px 20px 20px;
  color: $light-page-color;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;

  @media (min-width:$width-tablet) {
    font-size: 20px;
    line-height: 26px;
    margin: 0 30px;
  }

  @media (min-width:$width-desktop) {
    margin: 0 110px;
  }
}

.intro__link-text {
  background-color: $main-page-color;
  padding: 8px 44px;
}
