.slider {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;

  @media (min-width: $width-tablet) {
    background-image: linear-gradient(transparent 0 151px, #eaeaea 151px 100%);
    height: 462px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 110px;
    height: 462px;
    background: transparent;
  }
}

.slider__before-img,
.slider__after-img {
  display: block;
  object-fit: cover;
  width: 280px;
  height: 256px;
  object-position: left top;

  @media (min-width: $width-tablet) {
    width: 560px;
    height: 512px;
  }
}

.slider__before {
  position: absolute;
  height: 100%;
  overflow: hidden;
  z-index: 6;

  @media (min-width: $width-tablet) {
    top: -151px;
  }
}

.slider__after {
  position: absolute;
  width: auto;
  height: 100%;
  overflow: hidden;

  @media (min-width: $width-tablet) {
    top: -151px;
  }
}

.slider__before-img {
  width: 50%;
  object-position: left top;
}

.slider__resize {
  position: absolute;
  left: 50%;
  z-index: 10;
  width: 4px;
  height: 256px;
  background-color: #666666;
  border-radius: 2px;

  &:hover {
    background-color: $main-page-color;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $width-tablet) {
    top: -151px;
    height: 512px;
  }

  @media (min-width: $width-desktop) {
    left: auto;
  }
}

.slider__resize-arrow {
  position: absolute;
  z-index: 15;
  top: 50%;
}
