.slider {
  width: 100%;
  height: 295px;

  @media (min-width: $width-tablet) {
    margin-top: 115px;
    background-image: linear-gradient(#ffffff 0 151px,#eaeaea 151px 100%);
    height: 613px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 85px;
    margin-top: 0;
    height: 462px;
    background: transparent;
  }
}

.slider__wrapper {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 256px;

  @media (min-width: $width-tablet) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $width-desktop) {
    margin-top: -135px;
  }
}

.slider__before-img {
  display: block;
  object-fit: cover;
  width: 140px;
  height: 256px;
  object-position: left top;

  @media (min-width: $width-tablet) {
    width: 280px;
    height: 512px;
  }
}

.slider__after-img {
  display: block;
  object-fit: cover;
  width: 140px;
  height: 256px;
  object-position: right top;
  margin-left: auto;

  @media (min-width: $width-tablet) {
    width: 280px;
    height: 512px;
  }
}

.slider__before {
  height: 100%;
  overflow: hidden;
  z-index: 2;

  @media (min-width: $width-tablet) {
    height: 512px;
  }
}

// slider-button

.slider__button-wrapper {
  cursor: ew-resize;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  &:active {
    opacity: 0.6;
  }
}

.slider__button-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
  width: 4px;
  background-color: #666666;
  border-radius: 2px;

  &:hover {
    background-color: #68b738;
  }
}

.slider__button-icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #666666;

  &:hover {
    color: #68b738;
  }
}

.slider__button-line:hover ~ .slider__button-icon {
  color: #68b738;
}
