// text style start

.tariff-list {
  &__item {
    @include reset-list-style;
  }
}

.tariff-card {
  &__title {
    color: #000000;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__description {
    color: #444444;
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
}

.catalog-link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

// text style end

.tariff-card__title::before {
  content: "";
  display: block;
  background-color: #68b738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
