.tariff-card__title {
  display: flex;
  align-items: center;

  @include tariff-title;
  margin-bottom: 29px;

  @media (min-width: $width-tablet) {
    display: inline-block;
  }
}

.tariff-card__description {
  @include index-main-text;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $width-tablet) {
    display: inline-block;
    width: 340px;
    border: none;
  }
}

.tariff-card__link {
  display: block;
  position: relative;
  color: $title-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &::after {
    content: url("../img/icons/arrow.svg");
    position: absolute;
    margin-left: 15px;
  }
}

.tariff-card__title-wrapper {
  display: flex;

  &::before {
    content: "";
    display: inline-block;
    background-color: $main-page-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;

    @media (min-width: $width-tablet) {
      display: none;
    }

    @media (min-width: $width-desktop) {
      display: inline-block;
      width: 100px;
      height: 100px;
    }
  }
}

.tariff-card {
  background-color: $dark-page-color;
  padding: 24px 20px 18px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $width-tablet) {
    &::before {
      content: "";
      display: inline-block;
      background-color: $main-page-color;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 20px;

      @media (min-width: $width-desktop) {
        display: none;
      }
    }
  }

  @media (min-width: $width-desktop) {
    width: 570px;
  }
}

.tariff-card__img {
  position: absolute;

  &--slim {
    top: 21px;
    left: 27px;
  }

  &--pro {
    top: 35px;
    left: 13px;
  }
}
