.contact {
  background-color: $light-page-color;

  @media (min-width: $width-desktop) {
    position: relative;
  }
}

.contact__wrapper {
  background-color: $light-page-color;
  display: flex;
  align-items: center;
  z-index: 3;
  gap: 17px;
  padding: 13px 20px 12px;

  @media (min-width: $width-tablet) {
    padding: 45px 70px;
    justify-content: space-between;
  }

  &--dark-color {
    background-color: $dark-page-color;
  }

  @media (min-width: $width-desktop) {
    background-color: $light-page-color;
    position: absolute;
    width: 565px;
    min-height: 200px;
    top: 92px;
    left: 110px;
    padding: 45px 80px;
  }
}

.contact__title {
  color: #111111;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
  }
}

.contact__address {
  color: $text-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}

.contact__city {
  display: block;

  @media (min-width: $width-tablet) {
    margin-top: 20px;
  }
}

// map styles

.contact__map-wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
}

.contact__map-iframe {
  border: none;
  display: none;
  width: 100%;
  height: 362px;

  @media (min-width: $width-tablet) {
    height: 400px;
  }
}

.contact__map-img {
  width: 100%;
  object-fit: cover;
  z-index: -2;
  display: block;
}

.contact__map-pin {
  position: absolute;
  top: 139px;
  left: 42%;

  @media (min-width: $width-tablet) {
    top: 148px;
    left: 43%;
  }

  @media (min-width: $width-desktop) {
    top: 131px;
    left: 63%;
  }
}
