.contact {
  background-color: $light-page-color;
  @media (min-width:$width-desktop) {
    position: relative;
  }
}
.contact__wrapper {
  background-color: $light-page-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  @media (min-width:$width-tablet) {
  padding: 60px 70px;
  }
  &--dark-color {
    background-color: $dark-page-color;
  }
  @media (min-width:$width-desktop) {
    background-color: $light-page-color;
    position: absolute;
    width: 565px;
    min-height: 200px;
    top: 95px;
    left: 110px;
  }
}

.contact__title {
  color: #111111;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 180px;
  @media (min-width:$width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__address {
  color: $text-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 157px;
  @media (min-width:$width-tablet) {
    font-size: 16px;
    text-align: right;
  }
  @media (min-width:$width-desktop) {
    text-align: left;
  }
}

.contact__map {
  display: block;
  margin: 0 auto;
}
