@import"common/fonts.scss";


// text style start

.site-list {
  &__item {
    list-style: none;
    text-align: center;
  }
  
  &__link {
    text-decoration: none;
    color: #000000;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

// text style end

.main-header {
  display: flex;
}
