//  FONTS
$secondary-font: "Oswald", "Arial", sans-serif;
$main-font: "Lato", "Tahoma", sans-serif;

// COLORS
$text-color: #444444;
$subtitle-color: #222222;
$title-color: #000000;
$light-page-color: #ffffff;
$dark-page-color: #f2f2f2;
$main-page-color: #68b738;

// DEVICES
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

// DECORATION
$border: 1px solid #cdcdcd;
