.addition-products {
  padding: 0 20px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    left: 20px;
    border-bottom: 2px solid $main-page-color;
    top: 14px;
    z-index: -2;

    @media (min-width: $width-tablet) {
      left: 0;
      top: 22px;
      width: 100%;
    }

    @media (min-width: $width-desktop) {
      top: 22px;
    }
  }

  @media (min-width: $width-tablet) {
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 110px;
  }
}

.addition-products__wrapper {
  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 975px 1fr;
  }
}

.addition-products__title {
  color: $title-color;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 34px;
  font-weight: 400;
  width: 245px;
  background-color: #ffffff;

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 65px;
    margin-bottom: 80px;
    padding: 0 40px;
    width: 420px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 0 0 40px;
    margin-left: -40px;
  }
}

.addition-products__list {
  padding: 0;
  margin: 0;

  @media (min-width: $width-desktop) {
    width: 895px;
  }
}

.addition-products__item {
  list-style: none;
  border: $border;
  border-bottom: 0;
  padding-top: 13px;

  @media (min-width: $width-tablet) {
    padding: 25px 37px 0;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    padding: 15px 0 0;
    grid-template-columns: 320px 330px 244px;
    border: none;
    border-top: $border;
  }

  &:last-child {
    border-bottom: $border;
    margin-bottom: 35px;

    @media (min-width: $width-tablet) {
      margin-bottom: 69px;
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 90px;
    }
  }
}

.addition-option__title {
  margin: 0;
  color: $subtitle-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  @media (min-width: $width-desktop) {
    display: flex;
    align-items: center;
  }
}

.addition-option__description {
  display: flex;
  justify-content: space-between;
  color: $text-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 90px;
    text-align: end;
    align-items: end;
    font-size: 16px;
    line-height: 20px;
    margin: 0 5px 22px;
  }

  @media (min-width: $width-desktop) {
    text-align: start;
    align-items: end;
    display: grid;
    grid-template-columns: 244px 82px;
  }
}

.addition-option__button {
  width: 100%;
  margin-bottom: 19px;

  @media (min-width: $width-tablet) {
    margin-bottom: 30px;
    grid-column: 1/3;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 15px;
    width: 244px;
    grid-column: 3/4;
  }
}
