.catalog-card {
  list-style: none;
  width: 280px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 112px (min-content: 40px);
  row-gap: 13px;
  @media (min-width:$width-tablet) {
    display: inline-block;
    width: 324px;
  }
  @media (min-width:$width-desktop) {
    width: 245px;
  }
}

.catalog-card__image {
  display: inline;
}

.catalog-card__title {
  color: $subtitle-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}

.product-info {
  color: $text-color;
  text-align: center;
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
}
