.catalog-card {
  list-style: none;
  border-bottom: $border;
  padding-top: 23px;

  @media (min-width: $width-tablet) {
    border-bottom: none;
    padding-top: 0;
  }
}

.catalog-card__wrapper {
  padding: 0 20px;
  min-width: 280px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto 25px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    min-width: 324px;
    height: 520px;
    padding: 0 40px;
    background: linear-gradient(transparent 0 90px, #f2f2f2 90px 520px);
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    min-width: 245px;
    padding: 0 38px;
  }
}

.catalog-card__image {
  display: block;
  margin: auto;
}

.catalog-card__title {
  display: block;
  color: $subtitle-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 55%;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 140px;
    margin: 0 auto 16px;
  }
}

.catalog-card__buy-button {
  width: 100%;
  grid-column: 1/3;
  margin-top: 17px;

  @media (min-width: $width-tablet) {
    width: 248px;
    margin: 25px auto 35px;
  }

  @media (min-width: $width-desktop) {
    width: 168px;
  }
}
