.products__title {
  @include first-title;
  margin-bottom: 41px;
  color: $title-color;
  @media (min-width:$width-tablet) {
    margin-bottom: 90px;
  }
  @media (min-width:$width-desktop) {
    margin-bottom: 85px;
  }
}

.products-list {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 68px;
  }
}

