.product-info {
  display: grid;
  grid-template-columns: 50% 50%;
  color: $text-color;
  text-align: center;
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product-info__parameter {
  text-align: left;

  @media (min-width: $width-tablet) {
    border-bottom: $border;
    height: 30px;
    align-items: center;
  }
}

.product-info__parameter_value {
  text-align: right;

  @media (min-width: $width-tablet) {
    border-bottom: $border;
    height: 30px;
  }
}
