.main-catalog-container {
  @media (min-width: $width-desktop) {
    margin-top: 70px;
  }
}

.products__title {
  padding: 0 20px;
  font-weight: 400;

  @include first-title;
  color: $title-color;
  margin-bottom: 41px;
  margin-top: 26px;

  @media (min-width: $width-tablet) {
    margin-bottom: 75px;
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 80px;
    padding: 0 110px;
  }
}

.products-list {
  margin: 0;
  padding: 0;
  border-top: $border;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    border-top: none;
    justify-content: center;
  }

  @media (min-width: $width-desktop) {
    row-gap: 50px;
    column-gap: 40px;
    padding: 0 110px;
    justify-content: space-between;
  }
}
