.promo__title {
  color: $light-page-color;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    display: inline-block;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    text-align: center;
  }
}

.promo {
  display: flex;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%, transparent),
    url("../img/mobile-img/promo@1x.png");
  background-repeat: no-repeat;
  min-width: 280px;
  min-height: 290px;
  margin-bottom: 35px;
  background-size: cover;
  background-position: center;
  padding: 60px 55px 40px;
  flex-direction: column;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%, transparent),
      url("../img/mobile-img/promo@2x.png");
    background-repeat: no-repeat;
    min-width: 280px;
    min-height: 290px;
    margin-bottom: 35px;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $width-tablet) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%, transparent),
      url("../img/tablet-img/promo@1x.png");
    background-repeat: no-repeat;
    margin: 0 auto 76px;
    min-height: 200px;
    background-position: 50% 60%;
    background-size: cover;
    padding: 60px 155px 60px 77px;
    flex-direction: row;
    justify-content: space-between;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%, transparent),
        url("../img/tablet-img/promo@2x.png");
      background-repeat: no-repeat;
      margin: 0 auto 72px;
      min-height: 200px;
      background-position: 50% 60%;
      background-size: cover;
    }
  }

  @media (min-width: $width-desktop) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%, transparent),
      url("../img/desktop-img/promo@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 289px;
    min-width: 245px;
    margin: 0;
    padding: 56px 42px 43px;
    flex-direction: column;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85) 0% 100%, transparent),
        url("../img/desktop-img/promo@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 289px;
      width: 245px;
      margin: 0;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    background-image: url("../img/icons-decor/sprite-decor.svg#icon-gift");
    width: 80px;
    height: 80px;
    margin-bottom: 48px;

    @media (min-width: $width-tablet) {
      margin-bottom: 0;
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 46px;
    }
  }
}
