@import"../common/fonts.scss";

// text style start
.advantages {
  &__title {
    color: #000000;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 36px;
    line-height: 40px;
  }

  &__description {
    color: #444444;
    font-family: "Lato-Regular", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
}

// text style end

.advantages {
  &__item::before {
    content: "";
    display: block;
    background-color: #68b738;
    width: 60px;
    height: 60px;
  }

  &__list {
    list-style-position: inside;
  }
}
