.addition {
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-bottom: 16px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 60px;
    display: flex;
    gap: 25px;
  }
}

.addition__legend {
  margin-bottom: 32px;
  width: 100%;

  @media (min-width: $width-tablet) {
    margin-bottom: 57px;
  }
}

.addition__wrapper {
  @media (min-width: $width-desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}

.addition__item {
  @include form-main-text;
  display: flex;
  margin-bottom: 13px;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 32px;
    display: inline-block;
    width: 280px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
    width: 300px;
  }
}

.addition__item:nth-of-type(2n + 1) {
  @media (min-width: $width-tablet) {
    margin-right: 65px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 0;
  }
}

// stylization of checkbox button
.checkbox__label {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  @media (min-width: $width-tablet) {
    gap: 20px;
  }
}

.checkbox__input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.checkbox__button {
  appearance: none;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: $border;
  outline: none;

  @media (min-width: $width-tablet) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__label:hover .checkbox__title {
  color: $subtitle-color;
}

.checkbox__label:hover .checkbox__button {
  border: 1px solid #bababa;
}

.checkbox__label .checkbox__input:checked + .checkbox__button::before {
  content: "";
  position: absolute;
  background: url("../img/icons/checkmark.svg") no-repeat;
  margin: 7px 5px 10px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;

  @media (min-width: $width-tablet) {
    margin: 11px 8px 10px;
  }
}
