.form-set__about-cat,
.form-set__about-owner,
.form-set__review,
.form-set__extra {
  @include reset-fieldset;
  padding: 0 20px;
  @media (min-width:$width-tablet) {
    padding: 0 68px 0 70px;
  }
  @media (min-width:$width-desktop) {
    padding: 0;
  }
}

.form-set__button,
.form-set__notification {
  margin: 0 20px;
  @media (min-width:$width-tablet) {
    margin: 0 68px 0 70px;
  }
  @media (min-width:$width-desktop) {
    margin: 0 110px;
  }
}

.form-set__notification {
  color: $title-color;
  font-family: $main-font;
  font-size: 14px;
  line-height: 16px;

  @media (min-width:$width-tablet) {
    font-size: 16px;
  }
}
