.owner-data {
  margin-bottom: 24px;

  @media (min-width: $width-tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 70px;
  }
}

.owner-data__wrapper {
  margin-bottom: 35px;

  @media (min-width: $width-tablet) {
    margin-bottom: 76px;
  }
}

.owner-data__wrapper-item {
  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.email__caption,
.telephone__caption,
.email__field,
.telephone__field {
  @include form-main-text;
}

.email__caption,
.telephone__caption {
  white-space: nowrap;
}

.owner-data__item {
  display: flex;
  gap: 13px;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: $width-tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
    white-space: nowrap;
  }
}

.email__field,
.telephone__field {
  flex-grow: 1;
  appearance: none;
  margin: 0;
  outline: none;
  border: 1px solid #e7e7e7;
  padding: 14px 23px 13px 15px;
  width: 100%;
  transition: 0.2s;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline-color: #ff8282;
  }

  &::-webkit-input-placeholder {
    color: $text-color;
  }

  &::-moz-placeholder {
    color: $text-color;
  }

  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
  }

  @media (min-width: $width-tablet) {
    margin-left: 13px;
  }
}

.email__field {
  @media (min-width: $width-desktop) {
    width: 490px;
  }
}

.telephone__field {
  &--number::-webkit-outer-spin-button,
  &--number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    width: 470px;
  }
}

.email,
.telephone {
  position: relative;
}

.email__icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 16px;
  -webkit-mask-image: url("../img/icons-decor/sprite-decor.svg#email"); //stylelint-disable-line property-no-vendor-prefix
  mask-image: url("../img/icons-decor/sprite-decor.svg#email");
  background-color: #222222;
}

.telephone__icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 16px;
  -webkit-mask-image: url("../img/icons-decor/sprite-decor.svg#phone");//stylelint-disable-line property-no-vendor-prefix
  mask-image: url("../img/icons-decor/sprite-decor.svg#phone");
  background-color: #222222;
}

.email__field:focus:invalid + .email__icon,
.telephone__field:focus:invalid + .telephone__icon {
  background-color: #ff8282;
}

.email__field:focus + .email__icon,
.telephone__field:focus + .telephone__icon {
  background-color: $main-page-color;
}
