.main-header {
  padding: 13px 20px 11px;
  position: relative;
  display: flex;

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    padding: 25px 33px 0 30px;
    margin-bottom: 60px;
    width: 100%;
    border-bottom: none;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    padding: 55px 110px 0;
    z-index: 3;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $width-tablet) {
    gap: 13px;
  }

  @media (min-width: $width-desktop) {
    gap: 14px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__nav {
  @media (min-width: $width-desktop) {
    padding-top: 0;
    position: absolute;
    right: 112px;
  }
}

.main-header__logo-text {
  margin-top: -3px;

  @media (min-width: $width-desktop) {
    width: 117px;
    height: 25px;
  }
}
