.main-nav {
  visibility: hidden;
  display: none;
  padding: 0;
  @media (min-width: $width-tablet) {
    display: flex;
    visibility: visible;
  }
}

.main-nav__item {
  @include reset-list;
  text-align: center;
  border-top: 1px solid $dark-page-color;
  padding: 22px 0 24px 0;
  &:hover{
    background-color: $dark-page-color;
  }
  @media(min-width:$width-tablet) {
    display: inline;
    padding: 0 16px 0 16px;
    border-top: none;
    &:hover{
      background-color: transparent;
    }
  }
}

.main-nav__link {
  color: $title-color;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 20px;
  @media(min-width:$width-tablet) {
    display: inline;
    padding: 0 16px 0 16px;
    border-top: none;
    &:hover{
      border-bottom: 2px solid $main-page-color;
    }
  }
  &--color_light {
  @media(min-width:$width-desktop) {
    color: $light-page-color;
    &:hover{
      border-bottom: 2px solid $light-page-color;
    }
  }
}
}
