.main-header {
  padding: 13px 20px 15px;
  position: relative;
  display: flex;

  @media (min-width: $width-tablet) {
    padding: 25px 33px 0 30px;
    margin-bottom: 60px;
    width: 100%;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    padding: 55px 110px 0;
    z-index: 3;
  }
}

.main-header__logo_text {
  margin: 0 56px;

  @media (min-width: $width-tablet) {
    margin: 0 13px;
  }
}

.main-header__nav {
  @media (min-width: $width-desktop) {
    position: absolute;
    right: 110px;
  }
}
