.site-list {
  visibility: hidden;
}

.site-list__item {
  @include reset-list;
  text-align: center;
  border-top: 1px solid $dark-page-color;
  padding: 22px 0 24px 0;
  &:hover{
    background-color: $dark-page-color;
  }
  @media(min-width:$width-tablet) {
    display: inline;
    padding: 0 16px 0 16px;
  }
}

.site-list__link {
  color: $title-color;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 20px;
}
