// Начните писать стили здесь

// common styles
@import"common/header.scss";
@import"common/main-footer.scss";

// index.html
@import"index-style/intro.scss";
@import"index-style/tariff.scss";
@import"index-style/advantages.scss";
@import"index-style/example.scss";
@import"index-style/contact.scss";

// catalog.html
@import"catalog/products.scss";
@import"catalog/addition-products.scss";

//form.html
@import"form/form-container.scss";

.page {
  background-color: #ffffff;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
