.main-footer {
  text-align: center;
  background-color: $dark-page-color;
  padding: 40px 20px;

  @media (min-width: $width-tablet) {
    display: flex;
    padding: 61px 30px;
  }

  @media (min-width: $width-desktop) {
    padding: 66px 110px;
  }
}

.main-footer__logo-html-academy {
  display: flex;
  justify-content: space-between;
}

.main-footer__logo-html-caption {
  color: $text-color;
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

@media (max-width: $width-tablet) {
  .main-footer__logo-link::after {
    content: "";
    display: block;
    border-bottom: $border;
    margin: 20px 0;
  }

  .main-footer__social-wrapper::after {
    content: "";
    display: block;
    border-bottom: $border;
    margin: 20px 0;
  }
}
